-asv=NOTE TO SELF: To add linker output stats, add -M to -ldnodb. 
-asv=note: ignore the "-asv" here - it is because the cfg file doesn't seem to support comments.

-as=vasmm68k_mot -x -maxerrors=50 -m68000 -spaces -opt-brajmp -Fhunk -align -phxass %s -o %s -I"%%VBCC%%/targets/m68k-amigaos/ndk/include/include_i" -I"Source" -quiet
-cc=vbccm68k  -warn=-1 -maxerrors=50 -dontwarn=168 -dontwarn=167 -dontwarn=307 -dontwarn=166 -c99 %s -o= %s %s -O=%ld -I"%%VBCC%%/targets/m68k-amigaos/ndk/include/include_h" -I"%%VBCC%%/targets/m68k-amigaos/include" -quiet
-l2=vlink  -bamigahunk -Bstatic -Cvbcc -nostdlib -L"%%VBCC%%/targets/m68k-amigaos/lib" %s %s -o %s
-ld=vlink  -bamigahunk -Bstatic -Cvbcc -nostdlib -L"%%VBCC%%/targets/m68k-amigaos/lib" "%%VBCC%%/targets/m68k-amigaos/lib/startup.o" %s %s -lvc -o %s

-asv=vasmm68k_mot -x -maxerrors=50 -m68000 -spaces -opt-brajmp -Fhunk -align -phxass %s -o %s -I"%%VBCC%%/targets/m68k-amigaos/ndk/include/include_i" -I"Source"
-ccv=vbccm68k -warn=-1 -maxerrors=50 -dontwarn=168 -dontwarn=167 -dontwarn=307 -dontwarn=166 -c99 %s -o= %s %s -O=%ld -I"%%VBCC%%/targets/m68k-amigaos/ndk/include/include_h" -I"%%VBCC%%/targets/m68k-amigaos/include"
-l2v=vlink -bamigahunk -Bstatic -Cvbcc -nostdlib -L"%%VBCC%%/targets/m68k-amigaos/lib" %s %s -o %s -t
-ldv=vlink -bamigahunk -Bstatic -Cvbcc -nostdlib -L"%%VBCC%%/targets/m68k-amigaos/lib" "%%VBCC%%/targets/m68k-amigaos/lib/startup.o" %s %s -lvc -o %s -t

-ldnodb=-S -s -x
-ul=-l%s
-cf=-F%s
-ml=32000
-rm=rm %s

-speed

